= render "shared/menu", :empty => true

%header
  %h1 Introduction

%h2 Please login

- form_for @user_session, :url => login_url do |f|
  %p= f.label :login
  %p= f.text_field :login

  %p= f.label :password
  %p= f.password_field :password

  %p= f.submit "Login"
