- @stats ||= ReviewStats.new
%h1 Status panel

%table
  %tr.returned
    %td.label Returned
    %td.value #{@stats.returned} / #{@stats.total}

  %tr.reviewed
    %td.label Reviewed
    %td.value #{@stats.reviewed} / #{@stats.returned}

  %tr.confirmed
    %td.label Confirmed
    %td.value #{@stats.confirmed} / #{@stats.reviewed}

  %tr.denied
    %td.label Denied
    %td.value #{@stats.denied} / #{@stats.reviewed}
