- @stats ||= ReviewStats.new
#stats
  %h2 Status panel

  .returned
    %label Returned
    %p #{@stats.returned} / #{@stats.total}

  .reviewed
    %label Reviewed
    %p #{@stats.reviewed} / #{@stats.returned}

  .confirmed
    %label Confirmed
    %p #{@stats.confirmed} / #{@stats.reviewed}
