- @stats ||= ReviewStats.new
#stats
  %h2 Status panel

  .returned
    %label Returned
    %p #{@stats.returned} / #{@stats.total}

  .reviewed
    %label Reviewed
    %p #{@stats.reviewed} / #{@stats.returned}

  .unconfirmed
    %label Unconfirmed
    %p #{@stats.unconfirmed} / #{@stats.reviewed}
