- page_options :class => "index"

%section.sidebar.right
  = render :partial => "status_panel"

%section#data
  %h1= t ".title"
  #voters
    - unless @voters.any?
      .no-items t ".no_voters"
    - else
      %table
        %thead
          %tr
            %th.name=     t ".name"
            %th.status=   t ".status"
            %th.reviewer= t ".reviewer"
            %th.time=     t ".time"
        %tbody
          = render :partial => "voter_row", :collection => @voters

      .pages
        - b = @voters.out_of_bounds? ? 0 : @voters.offset + 1
        - e = @voters.out_of_bounds? ? 0 : @voters.offset + @voters.size
        Voter Results #{b}-#{e} of #{@voters.total_entries}
        Page #{@voters.current_page} of #{[ @voters.total_pages, 1 ].max}
        = will_paginate @voters
