%h1 Review

- unless @voter
  No voters to review
- else
  - if @voter.voted_digitally?
    = link_to "Attestation", leo_attestation_url(@voter)

  .vcard
    .n
      %span.name= h(@voter.name)
    .adr
      .street-address= h(@voter.address)
      %span.locality= h(@voter.city)
      %span.region= h(@voter.state)
      %span.postal-code= h(@voter.zip)

  #voter_status
    - status = @voter.voted_digitally? ? "Voted" : "Not yet voted"
    Voter status: <strong>#{status}</strong>

  #status
    Status: <strong>#{@voter.status.capitalize}</strong>
  
  #review_controls{ :style => @voter.reviewed? ? "display: none" : nil }
    - action_class = button_class(!@voter.voted_digitally?)
    = link_to "Confirm", leo_voter_url(@voter, :registration => { :status => "confirmed" }), :method => :put, :class => action_class
    = link_to "Deny",    '#', :class => action_class, :id => "deny"
    #deny_reason
      - form_for @voter, :url => leo_voter_url(@voter), :id => "status_update" do |f|
        = hidden_field_tag "registration[status]", "denied"
        = f.text_field "deny_reason", :placeholder => "Please indicate a reason for denying."
        = submit_tag "Submit"
  
  - if @voter.reviewed?
    = link_to "Change Status", '#', :class => "button"
  
  #navigation
    = link_to "Previous", leo_voter_url(@nav.previous_item), :class => button_class(!@nav.has_previous?)
    = link_to "Next", leo_voter_url(@nav.next_item), :class => button_class(!@nav.has_next?)
