%h1 Review

#review
  - unless @voter
    No voters to review
  - else
    - attestation_img = image_tag('attestation.png', :width => 317, :height => 326, :class => "attestation")
    - if @voter.voted_digitally?
      = link_to attestation_img, leo_attestation_url(@voter)
    - else
      = attestation_img

    #info
      .vcard
        .n
          %span.name= h(@voter.name)
        .adr
          .street-address= h(@voter.address)
          %span.locality= h(@voter.city)
          %span.region= h(@voter.state)
          %span.postal-code= h(@voter.zip)

      #voter_status
        - status = @voter.voted_digitally? ? "Voted" : "Not yet voted"
        Voter status: <strong>#{status}</strong>

    #review_controls{ :style => @voter.reviewable? ? nil : "display: none" }
      %h2 Confirm Voter Status
      %p Select the check box to confirm or deny voter eligibility.
      = link_to "Confirm", '#', :class => "button", :id => "confirm"
      = link_to "Deny",    '#', :class => "button", :id => "deny"
      - form_for @voter, :url => leo_voter_url(@voter) do |f|
        = hidden_field_tag 'registration[status]', ''
        = text_area_tag    'registration[deny_reason]', '', :placeholder => "Please indicate a reason for denying."
  
    - if @voter.status_changes.any?
      #history
        %h2 History
        %table
          %thead
            %tr
              %th Action
              %th Time and Date
              %th LEO Name
              %th Comments
          %tbody
            - @voter.status_changes.all(:include => :reviewer).each do |sc|
              %tr
                %td= sc.printable_status
                %td= sc.created_at.to_s(:us_with_time)
                %td= sc.reviewer.login
                %td= h(sc.deny_reason)
  