%h1 Review

- unless @voter
  No voters to review
- else
  = h(@voter.name)

  - if @voter.voted_digitally?
    = link_to "Attestation", leo_attestation_url(@voter)

  - action_class = button_class(!@voter.voted_digitally?)
  = link_to "Confirm", '#', :class => action_class
  = link_to "Deny", '#', :class => action_class
  
  #navigation
    = link_to "Previous", leo_voter_url(@nav.previous_item), :class => button_class(!@nav.has_previous?)
    = link_to "Next", leo_voter_url(@nav.next_item), :class => button_class(!@nav.has_next?)
