- page_options :id => "checkin-page"

- content_for :pageheader do
  %h1= tt ".title"
  #p= tt ".summary"

- not_found = request.post? && @registration.nil?

= render :partial => "shared/menu", :locals => { :selected => 0 }

%section#confirm.instruction
  %header
    %h1= tt ".title"
    - if not_found
      %p= tt ".not_found"
      %p= tt ".explanation"

    %p.help-popup-attached= tt ".prompt"
    = tip(tt(".tip_title"), tt(".tip"))

    - simple_form_for :registration, :url => check_in_path, :html => { :id => "check_in_form" } do |f|
      .field= f.input :name, :required => false, :input_html => { :placeholder => "John Q. Public" }
      .field= f.input :zip, :required => false, :label => "Zip Code", :input_html => { :placeholder => "23456" }
      .field= f.input :voter_id, :label => "Voter ID Number", :required => false, :hint => "Enter 9-digit Number Provided by BOEE", :input_html => { :placeholder => "AA#######" }
      .field= f.input :pin, :label => "PIN", :required => false, :hint => "Enter 16-digit Number Provided by BOEE", :input_html => { :placeholder => "####-####-####-####" }
    
%footer
  = link_to_function "Continue", "$('#check_in_form').submit()", :class => "button"
  = link_to "Back", overview_path(voting_type), :class => "button"
