- page_options :id => "complete-ballot-page", :class => "voting-pages instruction-pages has-illustrations"
- content_for :pageheader do
  %h1= tt ".title"
  #p= tt ".summary"

= render :partial => "shared/menu", :locals => { :selected => 2 }

%section#download.instruction
  = section_header(1, :no_tip => true)
  = link_to "", @registration.blank_ballot.try(:url), :id => "ballot-pdf", :class => "instruction-image-link", :target => "_blank"

%section#mark.instruction
  = section_header(2, :no_tip => true, :image => tt(".step_2.image"), :image_alt => "Open and View Your Attestation Document.")

%section.instruction
  = section_header(3, :image => "saveAs", :alt => "Save Your Ballot.")

- if physical?
  %section.instruction
    = section_header(4, :no_tip => true, :image => "print", :alt => "Print Your Ballot.")
    
%footer
  = link_to "Continue", return_path, :class => "button"
  = link_to "Back",     confirm_path, :class => "button"
