#step
  .title= tt ".title"
  .summary= tt ".summary"

.sidebar
  = render :partial => "shared/menu", :locals => { :selected => 1 }
  = render :partial => "shared/key_dates"

#area.nopadding
  .section
    .main_1
      %h3= tt ".step_1.title"
      %h4
        = tt ".step_1.instruction"
        = tip(tt(".step_1.tip"))
      = tt ".step_1.summary"
    .main_2
      .name= h(@registration.name)
      .addr= h(@registration.address)
      .addr #{h(@registration.city)} #{h(@registration.state)}, #{h(@registration.zip)}
    .icon
      .box
        = tt ".step_1.check"
        %br
        = check_box_tag "confirm", 1, false, :id => "confirm"

  = step_section(:step => 2, :icon => "open_attestation.gif", :icon_id => "attestation", :icon_link => @registration.attestation.url)
      
#navigation
  = link_to "Back", check_in_path, :class => "button"
  = link_to "Continue", complete_path, :class => "disabled button", :id => "continue"

:javascript
  $(function() {
    var docs = $("#continue, #attestation");

    disableLink(docs);
    $("#confirm").change(function() {
      if (this.checked) enableLink(docs); else disableLink(docs);
    });
  });