- page_options :id => "intro-page", :no_keydates => true, :no_subheader => true, :h1 => t("organization"), :h2 => t("date")

- if before_voting? || after_voting?
  - content_for :before_header do
    #popup.popup
      %a.close-button
      %div= t(before_voting? ? "voting.notstarted" : "voting.ended")
      %div
        %h2= t "organization"
        %h3= t "date"
    #blanket


%section.sidebar
  = render 'software_requirements'

= render :partial => digital_enabled? ? "options_with_digital" : "options_without_digital"
