%h3= tt ".title"
= tt ".info"

.sections
  - t(".sections").each do |_, s|
    .section
      %h4= s[:title]
      .questions
        - s[:questions].each do |_, q|
          .question
            %h5= q[:q]
            .answer= q[:a]
