#step
  .title= tt ".title"
  .summary= tt ".summary"
  
#steps
  - 4.times do |sn|
    - skey = "shared.menu.step_#{sn + 1}"
    .step
      .num= (sn + 1).to_s.rjust(2, '0')
      .title= tt "#{skey}.title"
      .summary= pipe_list(tt("#{skey}.summary"))

.sidebar
  = render :partial => "shared/key_dates"

#navigation
  = link_to "Back", front_path, :class => "orange button"
  = link_to "Continue", check_in_path, :class => "orange button"
