- page_options :id => "overview-page", :class => "mod"

- content_for :pageheader do
  %h1= tt ".title"
  #p= tt ".summary"

- 4.times do |sn|
  - skey = ".step_#{sn + 1}"
  %section
    %h1= sn + 1
    %h2= tt "#{skey}.title"
    = pipe_list(tt("#{skey}.summary"))

%footer
  = link_to "Continue", check_in_path, :class => "button"
  = link_to "Back", front_path, :class => "button"
