- page_options :id => "thankyou-page", :class => "mod", :about => :social
- content_for :pageheader do
  %h1= tt ".title"
  #p= tt ".summary"

= render "shared/menu", :empty => true

%section.instruction
  %header
    %h1 Thank You!

%section.instruction
  %header
    %h2= tt ".status"
    %h2= Time.now.to_s(:detailed)

%footer
  %p= tt ".check"
