#more_info
  %table
    %tr
      %td For complete instructions, #{link_to "click here", "#"}.
      %td To find out more about District of Columbia Digital Vote-By-Mail, and the digital ballot return pilot project, #{link_to "click here", "#"}.

#links
  %ul
    %li.meta District of Columbia Digital Vote-by-Mail Service
    %li= link_to "Home", front_path
    %li= link_to "About", "#"
    %li= link_to "Help", "#"
    %li= link_to "Security", "#"
    %li= link_to "Feedback", "#"
