%footer
  - unless @no_keydates
    %section#keydates
      %header Key Dates
      .keydate
        %h4 October 1
        %p Vote-by-Mail service begins

      .keydate
        %h4 October 22
        %p Last day to apply for a Vote-by-Mail Ballot

      .keydate
        %h4 November 2
        %p Last day to return your ballot (by mail, must be postmarked by 5:00 pm EST)
        %p Last day to return your ballot (via Internet by 5:00 pm EST)
  
  - if @about == :social
    %section#about
      %p Tell everyone you voted!
      = link_to "#{image_tag("/images/facebook-icon.png", :alt => "facebook-icon", :width => 32, :height => 32)}Facebook", "http://www.facebook.com/sharer.php?u=http://webtest.dubberly.com/osdv/&amp;t=I%20Voted", :target => "_blank", :id => "facebook-icon"
      = link_to "#{image_tag("/images/twitter-icon.png", :alt => "I Voted!", :width => 32, :height => 32)}Twitter", "http://www.twitter.com/share", :id => "twitter-icon", :"data-text" => "I just voted online using OSDV DC Vote by Mail!", :"data-count" => "none", :target => "_blank"
      %script{ :type => "text/javascript", :src => "http://platform.twitter.com/widgets.js" }
  - elsif @about != false
    %section#about
      %p#instructions
        Complete #{link_to "instructions", help_path, :target => "_blank"} for the Digital Vote-by-Mail Service.
      %p
        #{link_to "Find", "http://www.dcboee.us/", :target => "_blank"} out more about D.C. Digital Vote-by-mail, and the digital ballot return pilot project.
  
  %nav
    %ul
      %li#orgname District of Columbia Digital Vote-by-Mail Service
      %li= link_to "About", about_path
      %li= link_to "Help", help_path
      %li= link_to "Security", security_path
      %li= link_to "Contact", contact_path

  - unless @no_keydates
    .keydate-spacer
