#head
  %h1 District of Columbia
  #menu
    %ul
      %li= link_to "Home", front_path
      %li= link_to "About", "#"
      %li= link_to "Help", "#"

#headline
  %h2= t ".headline"
  .info
    %strong= t :organization
    .date= t :date