- @stats ||= ReviewStats.new
%section#subheader
  #electiondate
    %p= t "organization"
    %p= t "date"

  #pageheader
    %strong #{t("leo.subheader.date")}:
    #{Time.zone.now.to_s(:short_day)}
    - if logged_in?
      %br
      %strong #{t("leo.subheader.progress")}:
      #{@stats.reviewed} / #{@stats.returned}
